.app {
    text-align: center;
    color: black;
    background-color: honeydew;
    height: 100%;
    padding: auto;
}

.btn {
    padding: 4px;
    background-color: lawngreen;
    border: 2px solid red;
}